.container-List-users{
    background-color: white;
    width: 75%;
    height: 490px;
    margin-top: 110px;
    margin-left: 40px;
    border-radius: 10px;
}
.container-List-users .titre-li{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    width: 400px;
    margin-left: 27%;
   margin-top: 50px;
   margin-bottom: 50px;
   font-weight: bold;
   font-size: 18px;
  
}
.container-List-users .titre-li .h-name1{
    margin-right: 0%;
    padding-left: 6%;

  
}
.container-List-users .titre-li .h-name{
   padding-left: 5%;

  
}


.container-List-users .ul-user1{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    width: 700px;
    margin-left: 10%;
    margin-top: 2%;
    
   
    
}
